:root {
	/* Primary */

	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);

	/* Neutral */

	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Red Hat Display', sans-serif;
	height: 100vh;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: clamp(200px, 350px, 450px);
	height: 500px;
	border: solid 1px grey;
	border-radius: 20px;
}

.attribution {
	padding-top: 22px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
